


{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}
    Home - Personal Porfolio
{% endblock %}
{% block content %}

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="{% static 'assets/img/avataaars.svg' %}"
                                              alt="">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">WARREN OYAO</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">Web Designer - Programmer</p>
        </div>
    </header>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">PROJECTS</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
                {% for project in projects %}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{ project.image.url }}" alt="{{ project.title }}"/>
                        </div>
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.description }}</p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <section class="page-section   mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block ">BLOGS</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom ">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            {% for blog in blogs %}
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <a href="{% url 'blog:detail' blog.id %}"><h4 class="">{{ blog.title }}</h4></a>
                        <p class="pre-wrap lead">{{ blog.text|truncatechars:200|striptags }}</p>
                        <p>Posted on {{ blog.date|date:'M d Y' }}</p>
                        <hr>
                    </div>
                    <hr>
                    <div class="col-lg-2"></div>

                </div>

            {% endfor %}

        </div>
    </section>


{% endblock %}